{% extends '_base.twig' %}

{% block title %}Index page{% endblock %}

{% block content %}
<div class="container footer no-container-gutters">
  <div class="row py-5">
    <div class="col-12 col-md-5 offset-md-1">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 footer__section mb-5">
          <h6 class="text-secondary mb-3">Company</h6>
          <ul class="list-unstyled">
            <li class="mb-3"><a href="/">Contact Us</a></li>
            <li class="mb-3"><a href="/">Why Yodlee</a></li>
            <li class="mb-3"><a href="/">Careers</a></li>
            <li class="mb-3"><a href="/">Our Team</a></li>
            <li class="mb-3"><a href="/">Investor Relations</a></li>
            <li class="d-none d-md-block mb-3 footer__section__social">
              <a href="https://youtube.com/XXX" target="_blank" rel="noreferer noopener" class="rounded-circle mr-1 d-inline-block position-relative">
                <img src="/svg/Icon/Social/YouTube.svg" alt="YouTube" class="position-absolute"/>
              </a>
              <a href="https://linkedin.com/XXX" target="_blank" rel="noreferer noopener" class="rounded-circle mr-1 d-inline-block position-relative">
                <img src="/svg/Icon/Social/LinkedIn.svg" alt="LinkedIn" class="position-absolute"/>
              </a>
              <a href="https://twitter.com/XXX" target="_blank" rel="noreferer noopener" class="rounded-circle mr-1 d-inline-block position-relative">
                <img src="/svg/Icon/Social/Twitter.svg" alt="Twitter" class="position-absolute"/>
              </a>
              <a href="https://facebook.com/XXX" target="_blank" rel="noreferer noopener" class="rounded-circle mr-1 d-inline-block position-relative">
                <img src="/svg/Icon/Social/Facebook.svg" alt="Facebook" class="position-absolute"/>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 footer__section mb-5">
          <h6 class="text-secondary mb-3">Developers</h6>
          <ul class="list-unstyled">
            <li class="mb-3"><a href="/">Developer Portal</a></li>
            <li class="mb-3"><a href="/">Pricing</a></li>
            <li class="mb-3"><a href="/">Financial Data Platform API</a></li>
            <li class="mb-3"><a href="/">Developer Support</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 footer__section mb-5">
      <h6 class="text-secondary mb-3">Startups</h6>
      <ul class="list-unstyled">
        <li class="mb-3"><a href="/">Entrepeneur Launchpad</a></li>
        <li class="mb-3"><a href="/">Startup Incubator</a></li>
        <li class="mb-3"><a href="/">FinTech Acceleration</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-3 footer__section mb-4">
      <h6 class="text-secondary mb-3">Discover</h6>
      <ul class="list-unstyled">
        <li class="mb-3"><a href="/">Envestnet</a></li>
        <li class="mb-3"><a href="/">Envestnet Retirement Services</a></li>
        <li class="mb-3"><a href="/">Envestnet PMC Impact Investing</a></li>
        <li class="mb-3"><a href="/">Tamarac</a></li>
        <li class="mb-3"><a href="/">Envestnet Analytics</a></li>
        <li class="mb-3"><a href="/">Money by Envestnet | Yodlee</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container footer__copyright no-container-gutters">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-1">
      <p class="mt-3 mb-2 d-md-inline-block mr-5 footer__text">
        &copy;2019 Yodlee, Inc.
      </p>
      <p class="d-inline-block mr-5 mb-0">
        <a href="/">Privacy Notice</a>
      </p>
      <p class="d-inline-block mb-0">
        <a href="/">
          Security
        </a>
      </p>
    </div>
    <div class="col-12 col-md-3">
      <p class="mb-3 mb-md-2 footer__copyright__region-picker">
        <a href="https://region.com/XXX" target="_blank" rel="noreferer noopener">
          <img src="/svg/Icon/Globe.svg" alt="Globe" class="mb-1 mr-1"/>
          <span class="mr-1">
            North America
          </span>
          <img src="/svg/Icon/Chevron Down.svg" alt="Chevron" class="mb-1"/>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
