{% extends '_base.twig' %}

{% block title %}Index page{% endblock %}

{% block content %}
<div class="container footer no-container-gutters">
  <div class="row py-5">
    <div class="col-12 col-md-5 offset-md-1">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 footer__section mb-5">
          <h6 class="text-secondary mb-3">Company</h6>
          <ul class="list-unstyled">
            <li class="mb-3">Contact Us</li>
            <li class="mb-3">Why Yodlee</li>
            <li class="mb-3">Careers</li>
            <li class="mb-3">Our Team</li>
            <li class="mb-3">Investor Relations</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 footer__section mb-5">
          <h6 class="text-secondary mb-3">Developers</h6>
          <ul class="list-unstyled">
            <li class="mb-3">Developer Portal</li>
            <li class="mb-3">Pricing</li>
            <li class="mb-3">Financial Data Platform API</li>
            <li class="mb-3">Developer Support</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 footer__section mb-5">
      <h6 class="text-secondary mb-3">Startups</h6>
      <ul class="list-unstyled">
        <li class="mb-3">Entrepeneur Launchpad</li>
        <li class="mb-3">Startup Incubator</li>
        <li class="mb-3">FinTech Acceleration</li>
      </ul>
    </div>
    <div class="col-12 col-md-3 footer__section mb-4">
      <h6 class="text-secondary mb-3">Discover</h6>
      <ul class="list-unstyled">
        <li class="mb-3">Envestnet</li>
        <li class="mb-3">Envestnet Retirement Services</li>
        <li class="mb-3">Envestnet PMC Impact Investing</li>
        <li class="mb-3">Tamarac</li>
        <li class="mb-3">Envestnet Analytics</li>
        <li class="mb-3">Money by Envestnet | Yodlee</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
