{% extends '_base.twig' %}

{% block title %}Index page{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col text-center bg-primary"><b>col12</b></div>
  </div>
  <div class="row">
    <div class="col text-center bg-secondary"><b>col6</b></div>
    <div class="col text-center bg-secondary"><b>col6</b></div>
  </div>
  <div class="row">
    <div class="col bg-light">
      <b>col2</b>
    </div>
    <div class="col bg-light">
      <b>col2</b>
    </div>
    <div class="col bg-light">
      <b>col2</b>
    </div>
    <div class="col bg-light">
      <b>col2</b>
    </div>
    <div class="col bg-light">
      <b>col2</b>
    </div>
    <div class="col bg-light">
      <b>col2</b>
    </div>
  </div>
</div>
{% endblock %}
