{% extends '_base.twig' %}

{% block title %}Index page{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Body/Desktop/Default</h1>

      <p>
        For nearly two decades, Envestnet | Yodlee, the leading data aggregation
        and data analytics platform, has proudly fueled cloud-based, dynamic
        innovation for financial institutions (FIs) and FinTech.
      </p>
      <p class="text-large">
        For nearly two decades, Envestnet | Yodlee, the leading data aggregation
        and data analytics platform, has proudly fueled cloud-based, dynamic
        innovation for financial institutions (FIs) and FinTech.
      </p>
      <p class="text-small">
        For nearly two decades, Envestnet | Yodlee, the leading data aggregation
        and data analytics platform, has proudly fueled cloud-based, dynamic
        innovation for financial institutions (FIs) and FinTech.
      </p>
      <p class="text-quote">
        For nearly two decades, Envestnet | Yodlee, the leading data aggregation
        and data analytics platform, has proudly fueled cloud-based, dynamic
        innovation for financial institutions (FIs) and FinTech.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Headings/Desktop/Default</h1>

      <h1>H1</h1>
      <h2>H2</h2>
      <h3>H3</h3>
      <h4>H4</h4>
      <h5>H5</h5>
      <h6>H6</h6>
    </div>
  </div>
</div>
{% endblock %}
