.footer {
  background-color: $color-lightest-gray;

  .footer__text {
    font-size: 0.9rem;
    color: $color-med-gray;
  }

  .footer__link {
    @extend .footer__text;

    &:hover {
      color: $color-secondary;
      text-decoration: none;
    }
  }

  .footer__section {
    a {
      @extend .footer__link;
    }
  }

  .footer__section__social {
    a {
      background-color: #78839132;
      height: 30px;
      width: 30px;

      img {
        top: 6px;
        left: 6px;
        height: 17px;
        width: 17px;
      }
    }
  }

  .footer__copyright {
    background-color: #ebeced;

    a {
      @extend .footer__link;
    }

    .footer__copyright__region-picker {
      span {
        color: $color-secondary;
      }
    }
  }
}
