.footer {
  background-color: $color-lightest-gray;

  .footer__section {
    li {
      font-size: 0.9rem;
      color: $color-med-gray;
    }
  }

  .footer__section__social {
    a {
      background-color: #78839132;
      height: 30px;
      width: 30px;

      img {
        top: 6px;
        left: 6px;
        height: 17px;
        width: 17px;
      }
    }
  }
}
